body {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-picante-chiles_72772-17295.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Georgia; /* Fuente para el cuerpo del texto */
  }
  
  h1 {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin: 25px 0; /* Añadir margen para separación */
    padding: 0;
    font-family:Georgia; /* Fuente para los encabezados */
    font-weight: bold;
    text-shadow: 5px 10px 5px rgb(255, 10, 10);
    letter-spacing: 14px;
    
  }
  
  header {
    color: #960909;
    background: hsla(30, 8%, 9%, 0.849);
    border: 1px solid;
    box-shadow: 0px 3px 4px #e42006fb;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
    width: 450px;
    height: auto; /* Ajustar la altura automáticamente */
  }
  
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  li {
    background-color: rgba(27, 24, 21, 0.836);
    color: #f8efef;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgb(180, 3, 3);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-basis: calc(25% - 15px); /* OJO JUGAR CON ESTP PARA el tamaño de las tarjetas  */
    margin: 10px 5px; /* Añadir margen para separación */
    padding: 15px; /* Incrementar el padding para espacio interior */
    justify-content: space-between;
    align-items: center;
    font-size: 14px; /* Ajustar tamaño de la fuente */
    line-height: 1.2; /* Ajustar altura de línea para legibilidad */
    text-align:justify;
    box-sizing: border-box;
  }
  
  li:hover {
    transform: scale(1.05);
    background-color: #361b04de;
    color: #eee3e3;
    box-shadow: 1px 2px 3px rgb(255, 149, 10);
  } 
  
  li img {
    width: 100%; /* Ajustar el ancho al contenedor */
    height: 200px; /* Ajustar la altura fija */
    object-fit: cover; /* Asegurar que la imagen se recorte adecuadamente */
  }
  
  li .description {
    text-align: justify; /* Justificar el texto */
    margin-top: 10px; /* Margen superior para separación */
  }
  
  li .name {
    width: 100%;
    text-align:left;
    margin-top: 10px; /* Margen superior para separación */
    font-weight: bold;
    font-size: 16px;
    border-top: 1px solid #ca770b; /* Línea divisoria */
    padding-top: 5px; /* Espaciado para la línea divisoria */
  }
  
  .flex-container {
    display: flex;
    color: #E6BC96;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1414dc;
    padding: 10px; /* Incrementar el padding */
    border-radius: 15px;
    box-shadow: 0px 2px 4px #e42006fb;
    margin: 20px auto; /* Incrementar el margen */
    width: 83%;
    max-width: 100%;
    flex-wrap: wrap;
  }
  
  .flex-container:hover {
    transform: scale(1.05);
    background-color: #4e1900d3;
    color: #f5e8e2;
    box-shadow: 0px 2px 4px #e44c06fb;
  }
  
  select {
    padding: 10px;
    border: 1px solid #18151596;
    border-radius: 5px;
    font-size: 14px;
    background-color: #404a7293;
    color: #f1dbdb;
    margin-right: 10px;
  }
  select:hover{
    font-family: Georgia;
    transform: scale(1.05);
    background-color: #9b3304f1;
    color: #f5e8e2;
    box-shadow: 3px 2px 2px 4px #ff9901fb;
  }
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background-color: #be0404bb;
    color: #f0dada;
    cursor: pointer;
    box-shadow: 0 7px 4px rgba(29, 26, 26, 0.76);
    transition: background-color 0.3s ease;
  }
  
  button:hover {
   font-family: Georgia;
    transform: scale(1.05);
    background-color: #9b3304f1;
    color: #f5e8e2;
    box-shadow: 3px 2px 2px 4px #ff9901fb;
  }
 